body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2 {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

h1 {
  color: #444;
  margin-top: 50px;
  font-size: 2em;
}

h2 {
  color: #666;
  font-size: 1.2em;
  margin: 20px auto 40px;
}

.format-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.format-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.button, .upload-button {
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.upload-button {
  align-items: center;
}

.upload-button::before {
  content: 'Select a file';
  display: inline-block;
  background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.upload-button:hover::before {
  border-color: black;
}

.upload-button input[type="file"]:active::before {
  background: linear-gradient(to top, #e3e3e3, #f9f9f9);
}

input[type=file], button {
  border: none;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

input[type=file]:hover, button:hover {
  background-color: #007B9A;
}

button {
  margin: 0 auto;
  display: block;
}
